.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30rem;
}

.form {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.signup-inputs {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  width: 85%;
}

.image-signup {
  display: grid;
  align-items: center;
  justify-content: center;
}

.login {
  margin-top: 1.5rem;
}

.redFlag {
  background-color: #ec7063;
  color: white;
  padding: 1rem;
  border-radius: 0.8rem;
}

#sig-img {
  width: 70%;
  margin: 0 auto;
}

#but-ca {
  margin-top: 2rem;
  padding: 0.7rem;
  background-color: #efb864;
  border: 0 none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
}

#but-ca:hover {
  background-color: #d49e4b;
  transition: 0.5s;
}
